/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #b9b9b9;
}

.btn {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 8px 18px;
  border-radius: 10px;
  color: #111;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: white;
}

/* Mobile Styles */
.mobile-menu-icon {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    gap: 15px;
    padding: 20px 0;
  }

  .mobile-menu-icon {
    display: block;
  }
}

.nav-links-mobile li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links-mobile li a:hover {
  color: #b9b9b9;
}


.nav-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: 500;
  cursor: pointer;
}

/* Highlight active section */
.nav-links li a.active {
  color: #00bcd4;
  border-bottom: 2px solid #00bcd4;
}
